<div>
  <div *ngIf="dataLoaded == false" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="mb-3">
    <label for="filterText" class="form-label"
      ><h1 class="display-6">Search A Colour</h1></label
    >
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="enter a search expression"
    />
  </div>

  <div *ngIf="filterText" class="alert alert-primary">
    {{ filterText }} searched.
  </div>

  <table *ngIf="dataLoaded == true" class="table">
    <thead>
      <tr>
        <th>Colour Id</th>
        <th>Colour Name</th>
        <th><button (click)="setCurrentRouterToColourAdd()" class="btn btn-dark float-end">Add Colour</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let colour of colours | colourFilter: filterText">
        <td>{{ colour.id }}</td>
        <td>{{ colour.name }}</td>
        <td><button (click)="setCurrentRouteToColourEdit(colour.id)" class="btn btn-outline-dark float-end">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
