.nav-link:hover {
  background-color: dimgray !important;
  border-radius: 30px !important;
}

.nav-link:focus {
  background-color: dimgray !important;
  border-radius: 30px !important;
}

.nav-link {
  border-radius: 30px !important;
}

.dropdown-menu {
  cursor: pointer;
}
