<body class="text-center">
<main class="form-register">
  <form [formGroup]="registerForm">
    <h1 class="h3 mb-3 fw-normal">Register</h1>

    <div class="form-floating">
      <input formControlName="email" type="email" class="form-control" id="floatingInput"
             placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input formControlName="password" type="password" class="form-control" id="floatingPassword"
             placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="First name">
      <label for="firstName">First name</label>
    </div>
    <div class="form-floating">
      <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
      <label for="lastName">Last name</label>
    </div>
    <div class="form-floating">
      <input formControlName="companyName" type="text" class="form-control" id="companyName" placeholder="Company Name if You have.">
      <label for="companyName">Company Name</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button (click)="register()" class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>
</body>
