.imageContainer {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  width: 50%;
}

.left {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  width: 50%;
}

.bi::before {
  text-align: center;
}

.images-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: auto;
}

.images-container img {
  margin-right: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
