<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-dark float-end" data-bs-toggle="modal"
    data-bs-target="#exampleModalToggle">
    Rent The Car
    <i class="bi-wallet" style="font-size: 1rem; color: rgb(5, 5, 5)"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalToggle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rent The Car</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="currentDate" class="form-label">
                    <h1 class="display-6">Rent from</h1>
                </label>
                <input type="text" [(ngModel)]="currentDate" class="form-control" id="currentDate"
                    placeholder="enter a search expression" />
                <label for="returnDate" class="form-label">
                    <h1 class="display-6">Rent to</h1>
                </label>
                <input type="text" [(ngModel)]="returnDate" class="form-control" id="returnDate"
                    placeholder="enter a search expression" />
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div *ngIf="isCarAvailable == false" class="alert alert-danger" role="alert">
                                {{ messageToDisplay }}
                            </div>
                            <div *ngIf="isCarAvailable == true" class="alert alert-info" role="alert">
                                {{ messageToDisplay }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <div class="btn-group float-start" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>

                                <button (click)="checkIfCarIsAvailable(carId, currentDate, returnDate)" type="button"
                                    class="btn btn-warning">
                                    Check If Car Is Available
                                </button>
                            </div>
                        </div>
                        <div class="col-2">
                            <button [class]="getCurrentClassOfPayButton()" data-bs-target="#exampleModalToggle2"
                                data-bs-toggle="modal">
                                Pay
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">
                    Payment Informations
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="hasSavedCard" class="row" style="margin-bottom: 6px;">
                    <div class="col-6">
                        <label for="card" class="form-label">Saved Cards</label>
                        <select [(ngModel)]="cardFromDropdown" class="form-select" id="card">
                            <option [ngValue]="card" *ngFor="let card of cards">{{card.cardNumber | cardNumber}}</option>
                        </select>
                    </div>
                </div>
                <form *ngIf="hasSavedCard == false" [formGroup]="paymentForm">
                    <div>
                        <div class="row">
                            <div class="col-8">
                                <label for="cardNumber" class="form-label">Credit Card Number</label>
                                <input id="cardNumber" type="text" class="form-control"
                                    placeholder="Enter the card number" formControlName="cardNumber">
                            </div>
                            <div class="col-4">
                                <label for="cvv" class="form-label">CVV</label>
                                <input id="cvv" type="text" class="form-control" placeholder="Enter the CVV"
                                    formControlName="cvv">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="nameOnCard" class="form-label">Name On Card</label>
                                <input id="nameOnCard" type="text" class="form-control"
                                    placeholder="Enter the full name" formControlName="nameOnCard">
                            </div>
                            <div class="col-3">
                                <label for="expirationMonth" class="form-label">Month</label>
                                <select id="expirationMonth" formControlName="expirationMonth" class="form-select">
                                    <option *ngFor="let month of months">{{month}}</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="expirationYear" class="form-label">Year</label>
                                <select id="expirationYear" formControlName="expirationYear" class="form-select">
                                    <option *ngFor="let year of years">{{year}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div *ngIf="hasSavedCard == false" class="form-check float-start">
                                <input [(ngModel)]="isSaveCardChecked" class="form-check-input" type="checkbox"
                                    value="true" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Save the card
                                </label>
                            </div>
                            <div *ngIf="hasSavedCard">
                                <button (click)="setHasSavedCardFalse()" class="btn btn-secondary">New card</button>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="btn-group float-end" role="group" aria-label="Basic example">
                                <button class="btn btn-secondary" data-bs-target="#exampleModalToggle"
                                    data-bs-toggle="modal">
                                    Back
                                </button>
                                <button (click)="pay()" class="btn btn-primary" data-bs-dismiss="modal">Complete
                                    Payment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>