<div class="shadow p-3 mb-5 bg-body rounded">
  <div *ngIf="dataLoaded == false" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <app-car-filter *ngIf="dataLoaded == true"></app-car-filter>

  <div *ngIf="dataLoaded == true" class="mb-3">
    <label for="filterText" class="form-label"
      ><h1 class="display-6">Search A Car</h1></label
    >
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="enter a search expression"
    />
  </div>

  <div *ngIf="filterText" class="alert alert-primary">
    {{ filterText }} searched.
  </div>

  <table *ngIf="dataLoaded == true" class="table">
    <thead>
      <tr>
        <th>Car Id</th>
        <th>Brand Name</th>
        <th>Colour Name</th>
        <th>Model Year</th>
        <th>Daily Price</th>
        <th>Description</th>
        <th>
          <Button
            (click)="setCurrentRouteToCarAdd()"
            class="btn btn-dark float-end"
            >Add Car</Button
          >
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars | carFilter: filterText">
        <td>{{ car.id }}</td>
        <td>{{ car.brandName }}</td>
        <td>{{ car.colourName }}</td>
        <td>{{ car.modelYear }}</td>
        <td>{{ car.dailyPrice | currency }}</td>
        <td>{{ car.description }}</td>
        <td>
          <div class="btn-group" role="group">
            <button (click)="setCurrentRouteToCarEdit(car.id)" type="button" class="btn btn-outline-dark">Edit</button>
            <button
              (click)="setCurrentRouteToCarDetail(car.id)"
              type="button"
              class="btn btn-outline-dark"
            >
              Review
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
