<div *ngIf="dataLoaded == false" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>
<h1 *ngIf="dataLoaded == true" class = "display-6">Colours</h1>
<ul *ngIf="dataLoaded == true" class="list-group shadow mb-5 bg-body rounded">
    <li routerLink="cars" (click)="setCurrentColourDefault()" [class]="getCurrentColourAllClass()">All Colours</li>
    <li routerLink="cars/colour/{{colour.id}}" (click)="setCurrentColour(colour)" *ngFor="let colour of colours" [class]="getCurrentColourClass(colour)">{{colour.name}}</li>
</ul>
