<div *ngIf="dataLoaded">
  <div class="brand-list">
    <h1 class="display-6">Brands</h1>
    <div>
      <input placeholder="search" class="search" [(ngModel)]="brandFilterText" />
    </div>
    <ul>
      <li *ngIf="!brandFilterText" (click)="setCurrentBrandDefault()" [class]="getCurrentBrandAllClass()">All
        Brands</li>
      <li *ngFor="let brand of brands | brandFilter: brandFilterText; let i = index"
        [class]="getCurrentBrandClass(brand)" (click)="setCurrentBrand(brand)">
        {{brand.name}}
      </li>
    </ul>
  </div>

  <div class="brand-list" style="margin-top: 3rem; margin-bottom: 3rem;">
    <h1 class="display-6">Colours</h1>
    <div>
      <input placeholder="search" class="search" [(ngModel)]="colourFilterText" />
    </div>
    <ul>
      <li *ngIf="!colourFilterText" (click)="setCurrentColourDefault()" [class]="getCurrentColourAllClass()">All
        Colours</li>
      <li *ngFor="let colour of colours | colourFilter: colourFilterText; let i = index"
        [class]="getCurrentColourClass(colour)" (click)="setCurrentColour(colour)">
        {{colour.name}}
      </li>
    </ul>
  </div>
</div>