.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #212529;
  border-color: #212529;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #212529;
  color: white;
  cursor: pointer;
}

.list-group {
  cursor: pointer;
}

.scroll {
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 30rem;
  overflow-style: marquee-block;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
