.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #212529;
  border-color: #212529;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #212529;
  color: white;
  cursor: pointer;
}

.list-group {
  cursor: pointer;
}

.scroll {
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 30rem;
  overflow-style: marquee-block;
}

.brand-list{
  font-size: 1.4rem;
}

.brand-list ul{
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  cursor: pointer;
  max-height: 30rem;
  min-height: 30rem;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.brand-list li {
  list-style: none;
  padding: 0.5rem 0rem 0.5rem 1rem;
}

.brand-list li:hover{
  color: white;
  background-color: #212529;
}

.search {
  width: 100%;
  padding: 0.5rem 0rem 0.5rem 1rem;
  outline: none;
  border: 0px
}