<div class="row">
  <div class="col-md-5">
    <h1 class="display-6">Brands</h1>
  </div>
  <div class="col-md-5">
    <h1 class="display-6">Colours</h1>
  </div>
</div>

<form *ngIf="brandsLoaded == true && coloursLoaded == true" [formGroup]="filterForm" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-md-5">
      <select formControlName="brandId" class="form-select" aria-label="Default select example">
        <option [ngValue]="null" selected>Open this select menu</option>
        <ng-container *ngFor="let brand of brands">
          <option [ngValue]="brand.id">{{ brand.name }}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-md-5">
      <select formControlName="colourId" class="form-select" aria-label="Default select example">
        <option [ngValue]="null" selected>Open this select menu</option>
        <ng-container *ngFor="let colour of colours">
          <option [ngValue]="colour.id">{{ colour.name }}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-warning">Apply Filter</button>
    </div>
  </div>
</form>
